.wrapper {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: #f1f2f3;
    align-items: center;
}

header,
footer,
.content {
    margin: auto;
    border-bottom: 1px solid #a1b2c3;
    width: 100%;
}

header .section,
footer .section,
.content .section {
    height: 100%;
    width: 80%;
    margin: auto;
}

header {
    flex: 0 0 90px;
}

footer {
    flex: 0 0 40px;
}

.content {
    flex: 1;
}
